# Ignore configuration files that may contain sensitive information
*/settings*.php
web/sites/*/*settings*.php
web/sites/*/*services*.yml
web/sites/*/settings*.php
web/sites/*/services*.yml
web/sites/*/default.*

# Ignore paths that may contain user-generated content
web/sites/*/public
web/sites/*/private
web/sites/*/files-public
web/sites/*/files-private

# Ignore paths that may contain temporary files
web/sites/*/translations
web/sites/*/tmp
web/sites/*/cache

# Ignore testing related files
web/sites/simpletest

# Ignore drupal core (if not versioning drupal sources)
web/core
web/modules/README.txt
web/profiles/README.txt
web/sites/README.txt
web/sites/example.sites.php
web/sites/example.settings.local.php
web/sites/development.services.yml
web/themes/README.txt
/vendor
.editorconfig
.gitattributes
web/.csslintrc
web/.eslintignore
web/.eslintrc.json
web/.htaccess
web/autoload.php
web/example.gitignore
web/index.php
web/LICENSE.txt
web/README.txt
web/INSTALL.txt
web/robots.txt
web/update.php
web/web.config

# Ignore Drupal contrib files
web/modules/contrib
web/themes/contrib
web/profiles/contrib
vendor/*
# Ignore IDE files
.idea
.DS_Store

#Logs
.log

# Router file
web/.ht.router.php

