// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;
$color-secondary: #101d2c;
$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;
$color-grey-light-3: #eee;
$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;
$color-orange-light: #ffc556;
$color-primary: #eb2f64;
$color-primary-light: #FF3366;
$color-primary-dark: #BA265D;
$color-primary-light-red: #ffa6a6;
$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;
$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;
$color-light-brown: #3d2514;
$color-primary-green-1: #7ed56f;
$color-primary-green-2: #55c57a;
$color-primary-dark-1: #28b485;
$color-dark: #777;
$color-dark2: #999;
$color-half-white: #fff;
$color-black: #000;
$color-white: white;
$color-grey-dark-1: #333;
$color-secondary-light: #ffb900;
$color-secondary-dark: #f82222;
$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;
$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
$margin-top: 50px;
$margin-top-90: 9rem;
// --mt-30: margin-top: 30px;
// $bg-image-linear: linear-gradient(to right bottom, rgba(218, 92, 92, 0.8), rgb(92, 218, 92, 0.8)), url();

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: #1977cc;
}

a:hover {
    color: #3291e6;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

::selection {
    background-color: red;
    color: white;
}


/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #1977cc;
    border-top-color: #d1e6f9;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}