    /*--------------------------------------------------------------
# Forms and tables views  margin top 
--------------------------------------------------------------*/
    
    // #views-form-appointments-page-1 {
    //     margin-top: 6rem;
    // }
    // #edit-0--3 {
    //     margin-top: 3rem;
    // }
    .table-margin-top {
        margin-top: 3rem;
    }
    
    .margin-top--25 {
        margin-top: 25rem;
    }
    /* -------------------- remove create user link from tab -------------------- */
    
    li:nth-child(4) {
        display: none !important;
    }
    /* -------------------- form img head icon -------------------- */
    
    .login_img {
        width: 9.5%;
        position: absolute;
        margin: -5rem 0 0 -2rem;
        height: auto;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        // transition: all .5s;
        // &:hover {
        //     transition: all .9s;
        //     -webkit-transform: scale(1.03) translateY(-0.5rem);
        //     transform: scale(1.05) translateY(-0.5rem);
        //     -webkit-box-shadow: 0px 2px 15px rgba(124, 124, 124, 0.466);
        //      box-shadow: 0px 2px 15px rgba(124, 124, 124, 0.466);
        // }
    }
    
    #edit-field-your-doctor-name-value {
        display: block;
        margin-top: 1em;
        padding: .4em;
        border: 1px solid #ccc;
        border-radius: 6px;
        border-width: 2px 1px 1px 1px;
        border-color: #b1b1b194;
        margin-top: 5rem;
        &:focus {
            outline: none;
            border-left: 2px solid #28b485;
        }
    }
    /*--------------------------------------------------------------
# Top Tabs
--------------------------------------------------------------*/
    
    @mixin head_tab {
        // background-color: #fc6060;
        background-color: #0583ff96;
        color: white;
        border-radius: 2px;
        -webkit-box-shadow: 0px 2px 15px rgba(124, 124, 124, 0.466);
        box-shadow: 0px 2px 15px rgba(124, 124, 124, 0.466);
    }
    
    ul.tabs {
        margin: 6rem 0 0.5em;
        padding: 0;
        list-style: none;
    }
    
    .tabs a.is-active {
        @include head_tab;
    }
    
    .tabs a:focus,
    .tabs a:hover {
        @include head_tab;
    }
    /* --------------------------- login error message -------------------------- */
    
    .form-item--error-message {
        color: $color-primary;
    }