/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/



#header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    // top: 40px;
    top: 70px;
    box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}

#header.header-scrolled {
    top: 0;
}

#header .logo {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-family: "Poppins", sans-serif;
}

#header .logo a {
    color: #2c4964;
}

#header .logo img {
    // max-height: 40px;
    min-width: 10rem;
    height: auto;
}

@media (max-width: 992px) {
    #header {
        top: 0;
    }
    #header .logo {
        font-size: 28px;
    }
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

// #hero {
//   width: 100%;
//   height: 90vh;
//   background: url("../img/hero-bg.jpg") top center;
//   background-size: cover;
//   position: relative;
//   margin-bottom: -200px;
// }
#hero .container {
    position: relative;
}

#hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #2c4964;
}

#hero h2 {
    color: #2c4964;
    margin: 10px 0 0 0;
    font-size: 24px;
}

#hero .btn-doctor {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 35px;
    margin-top: 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #1977cc;
}

#hero .btn-doctor:hover {
    background: #3291e6;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 992px) {
    #hero {
        margin-bottom: 0;
        height: 100vh;
    }
    #hero .container {
        padding-bottom: 63px;
    }
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

@media (max-height: 500px) {
    #hero {
        height: auto;
    }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #f1f7fd;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #2c4964;
}

.section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #de1515;
    bottom: 0;
    left: calc(50% - 20px);
}

.section-title p {
    margin-bottom: 0;
}


/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/

.why-us .content {
    // padding: 30px;
    // background: #834307;
    border-radius: 4px;
    color: #fff;
    // background-color: rgba(#1977cc, 0.8);
    background-color: rgba(204, 25, 25, 0.8);
    padding: 2.5rem;
    text-align: center;
    box-shadow: 0 1.5rem 4rem rgba(black, 0.15);
    // transition: transform 0.3s;
    transition: all 0.3s;
    // box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}

// .why-us .content:hover {
//     // transform: translateY(-1.1rem) scale(1.03);
//     background-color: rgba(204, 25, 25, 0.8);
// }
.why-us .content h3 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px;
}

.why-us .content p {
    margin-bottom: 30px;
}

.why-us .content .more-btn {
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    padding: 6px 30px 8px 30px;
    color: #fff;
    border-radius: 50px;
    transition: all ease-in-out 0.4s;
}

.why-us .content .more-btn i {
    font-size: 14px;
}

.why-us .content .more-btn:hover {
    color: #1977cc;
    background: #fff;
}

.why-us .icon-boxes .icon-box {
    text-align: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    width: 100%;
}

.why-us .icon-boxes .icon-box i {
    font-size: 40px;
    color: #1977cc;
    margin-bottom: 30px;
}

.why-us .icon-boxes .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 30px 0;
}

.why-us .icon-boxes .icon-box p {
    font-size: 15px;
    color: #848484;
}