#user-login-form,
#user-pass {
    background-color: #eaeaeaa6;
    -webkit-box-shadow: 0px 2px 15px rgba(44, 73, 100, 0.08);
    box-shadow: 0px 2px 15px rgba(44, 73, 100, 0.08);
    padding: 3rem;
    width: 50%;
    // margin-top: 5rem;
    margin-top: -3rem;
    border-radius: 10px;
    animation: blinker 1s linear infinite;
    .form-text,
    .form-pass {
        display: block;
        margin-top: 1em;
        padding: .4em;
        border: 1px solid #ccc;
        border-radius: 5px;
        border-width: 1px 3px 1px 3px;
        border-color: #b1b1b194 !important;
        &:focus {
            outline: none !important;
            border-left: 2px solid #28b485 !important;
            box-shadow: 0 0 0 0.2rem #b9060600 !important;
        }
        &:focus:invalid {
            border-left: 2px solid #f82222 !important;
        }
    }
    .js-form-required {
        color: red;
    }
}

@keyframes user-login-form {
    50% {
        opacity: 0;
    }
}

#edit-submit {
    border-radius: 10px;
    padding: .5rem 2rem;
    border: none;
    // font-size: 1.2rem;
    font-weight: 500;
    color: black;
    transition: all .3s;
    background-color: #fc143b1f;
    &:hover {
        box-shadow: 0 1rem 2rem rgba(black, 0.15);
        transform: translateY(-3px);
        // background-color: #fc143bc2;
        background-color: #ef4444c2;
        color: white;
    }
    &:active {
        outline: none;
        text-decoration: none;
        box-shadow: 0 .5rem 2rem rgba(black, 0.15);
        transform: translateY(0);
        background-color: #289af8;
    }
    &:focus {
        outline: none;
    }
}