{# {{ kint(content.field_icon_image['#items'].value) }} #}

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row">
          {% for key in content.field_count_title['#items']%}
          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="icofont-doctor-alt"></i>
              <span data-toggle="counter-up">{{ content.field_count_numbers[key] }}</span>
              <p>{{ content.field_count_title[key] }}</p>
            </div>
          </div>
          {% else %}
              <h1> something wrong<h1>
    {% endfor %}


        </div>

      </div>
    </section><!-- End Counts Section -->
