{# {{ kint(content["site_logo"]|keys) }} #}





<div class="site-brand d-flex justify-content-md-start ">

<div class="site-brand__logo">{{ content.site_logo }}
<span class="site-brand__slogan">{{ content.site_slogan["#markup"] }}</span>
</div>

</div>


