{# {{ kint(content["field_address_logo"].0|keys ) }} #}








<div class="address d-flex justify-content-md-center">
    <img src="{{ content.field_address_logo.0['#markup'] }}" class="address__logo" alt="">
    <span class="address__title">{{content.field_adress_title}}</span>

</div>