{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}


<form class='container form-group col-md-6'{{ attributes }}>
<div class="text-center h-25">
<img src="http://localhost/doctor_project/web/themes/custom/doctor_themes/hospital.png" alt="LOG" class="img-fluid login_img">
</div>
  {{ children }}
</form>

 
